/*font family */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/*basic css reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box ;
}
body{
  min-height: 100vh;
  background:#f5f5f5;
  font-size: 16px;
}
article.article{
  font-family: 'Play', sans-serif;
  position:absolute ;
  width:90%;
  left : 50% ;
  top :20vh;
  margin-left :-45%;
}
/*check in section */
section.checkIn{
  display :grid;
  grid-template-columns :1fr ;
  justify-items:center ;
  align-items: center ;
  color:#000;
  grid-gap: 2.5rem ;
  background: #fff;
  padding: 2rem;
}

div.cheeckIn-box{
  
  text-align:center;
}
p.checkIn-arrival{
  font-weight :bold ;
  text-transform :uppercase;
  text-align: center ;
  font-size:1rem;
}
p.checkIn-inDate{
  width: auto ;
  height :2.75rem;
  border :1px solid #000 ;
  text-align:center;
  padding :0.75rem;
  font-weight: normal;
  margin-top :0.7rem ;
  font-size :1rem;
}
/*check in search button*/
#search{
  width: 8rem ;
  height :2.75rem ;
  display :block ;
  padding: 0.75;
  background:#db8837;
  color:#fff;
  font-weight: bold;
  outline :none ;
  border :none ;
  font-family:inherit;
}

section.grey{
  background :#f5f5f5;
  margin-top: 2rem ;
  padding-top: 2rem;
}
/*check in image */
img.checkIn-image{
  width: 100%;
  height: auto ;
}

div.checkIn-writeUp{
 width: 100%;
}
p.checkIn-welcome{
  width :100%;
  font-weight: bold ;
  font-size: 30px;
  padding-bottom: 0.75rem;
}
p.checkIn-para{
  line-height: 1.5; 
}

/**********MEDIA QUERIES **********/
/*tablet**/
@media all and (min-width:760px){
  article.article{
    width:70%;
    margin-left :-35%;
  }
  section.checkIn{
    display:grid;
    grid-template-columns:3fr 3fr;
  }
  div.cheeckIn-box{
  text-align:center;
}
  p.checkIn-arrival{
    font-weight :bold ;
    text-transform :uppercase;
    text-align: center ;
    font-size :1rem;
  }
  p.checkIn-inDate{
    font-size :1rem;
    width: auto;
    height :auto ;
    display: block;
    margin: 1rem auto;
}
p.number{
  width: 2.75rem !important;
  height: 2.75rem !important;
  text-align: center;
}
  /*check in search button*/
  #search{
    width: 8rem ;
    height :2.75rem ;
    display :block ;
    padding: 0.75;
    background:#db8837;
    color:#fff;
    font-weight: bold;
    outline :none ;
    border :none ;
    font-family:inherit;
  }
  section.grey{
    grid-template-columns :1fr!important ;
    grid-column-gap: 3rem ;
  }
}

/*laptop*/
@media all and (min-width:992px){
  article.article{
    width:70%;
    margin-left :-35%;
  }
  section.checkIn{
    display:grid;
    grid-template-columns:repeat(5, 3fr);
  }
  div.cheeckIn-box{
  text-align:center;
}
  p.checkIn-arrival{
    font-weight :bold ;
    text-transform :uppercase;
    text-align: center ;
    font-size :1rem;
  }
  p.checkIn-inDate{
    font-size :1rem;
    width: auto;
    height :auto ;
}
p.number{
  width: 2.75rem !important;
  height: 2.75rem !important;
  text-align: center;
}
  /*check in search button*/
  #search{
    width: 8rem ;
    height :2.75rem ;
    display :block ;
    padding: 0.75;
    background:#db8837;
    color:#fff;
    font-weight: bold;
    outline :none ;
    border :none ;
    font-family:inherit;
  }
  section.grey{
    grid-template-columns :1fr 1fr!important ;
    grid-column-gap: 3rem ;
  }
}
